# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage directory
coverage/

# Temporary files
tmp/
temp/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
